@use "sass:map";

$palette: (
  // "primary-highlight": color(display-p3 0.98 0.8 0.14),

  "primary-highlight": color(display-p3 0.98 0.8 0.54),

  "yellow": color(display-p3 0.98 0.8 0.14),
  "orange": color(display-p3 0.99 0.4 0.02),
  "red": color(display-p3 0.98 0.15 0.23),
  "green": color(display-p3 0.16 0.81 0.49),
  "blue": color(display-p3 0.07 0.48 1),
  "purple": color(display-p3 0.71 0.52 1),

  "background": #0A0A0A,
  "dark-background": #000000,
  "light-background": #2e2e2e,
  "lightest-background": #383838,

  "dark-foreground": #888888,
  "foreground": #888888,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,
);


@function color($color-name) {
  $result: map.get($palette, $color-name);
  @return $result;
}

@function random-color() {
  $keys: map.keys($palette);
  $random-key: nth($keys, random(length($keys)));
  @return map.get($palette, $random-key);
}
